
:root {
    --frame-blue: #0d6efd;
    --frame-indigo: #6610f2;
    --frame-purple: #6f42c1;
    --frame-pink: #d63384;
    --frame-red: #dc3545;
    --frame-orange: #fd7e14;
    --frame-yellow: #ffc107;
    --frame-green: #198754;
    --frame-teal: #20c997;
    --frame-cyan: #0dcaf0;
    --frame-white: #fff;
    --frame-gray: #6c757d;
    --frame-gray-dark: #343a40;
    --frame-gray-100: #f8f9fa;
    --frame-gray-200: #e9ecef;
    --frame-gray-300: #dee2e6;
    --frame-gray-400: #ced4da;
    --frame-gray-500: #adb5bd;
    --frame-gray-600: #6c757d;
    --frame-gray-700: #495057;
    --frame-gray-800: #343a40;
    --frame-gray-900: #212529;
    --frame-primary: #0d6efd;
    --frame-secondary: #6c757d;
    --frame-success: #198754;
    --frame-info: #0dcaf0;
    --frame-warning: #ffc107;
    --frame-danger: #dc3545;
    --frame-light: #f8f9fa;
    --frame-dark: #212529;
    --frame-primary-rgb: 13, 110, 253;
    --frame-secondary-rgb: 108, 117, 125;
    --frame-success-rgb: 25, 135, 84;
    --frame-info-rgb: 13, 202, 240;
    --frame-warning-rgb: 255, 193, 7;
    --frame-danger-rgb: 220, 53, 69;
    --frame-light-rgb: 248, 249, 250;
    --frame-dark-rgb: 33, 37, 41;
    --frame-white-rgb: 255, 255, 255;
    --frame-black-rgb: 0, 0, 0;
    --frame-body-color-rgb: 33, 37, 41;
    --frame-body-bg-rgb: 221, 221, 221;
    --frame-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --frame-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --frame-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --frame-body-font-family: var(--frame-font-sans-serif);
    --frame-body-font-size: 1rem;
    --frame-body-font-weight: 400;
    --frame-body-line-height: 1.5;
    --frame-body-color: #212529;
    --frame-body-bg: #ddd;
}
