<!DOCTYPE html>



<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="assets/images/favi.ico" rel="icon" />
<title>Advanced HTML & React Website Templates by HarnishDesign</title>
<meta name="description" content="High quality premium HTML and React website template and OpenCart themes with multipurpose and responsive Bootstrap templates that empowered the community of 9600 customers around the world.">
<meta name="author" content="harnishdesign.net">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css" />
<link rel="stylesheet" type="text/css" href="../../css/index.css"  />
<link rel="stylesheet" type="text/css" href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" />


</head>

<body>
 
<div id="main-wrapper">
  <header id="header" class="sticky-top-slide">
    <nav class="primary-menu navbar navbar-expand-lg fw-600">
      <div class="container position-relative">
        <div class="col-auto col-lg-2"> <a class="logo" href="https://harnishdesign.net/"> <img src="assets/images/logo.png" alt="HarnishDesign Logo"/> </a> </div>
        <div class="col col-lg-8">
          <button class="navbar-toggler ms-auto me-3" type="button" data-bs-toggle="collapse" data-bs-target="#header-nav"><span></span><span></span><span></span></button>
          <div id="header-nav" class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
              <li class="nav-item dropdown"> <a class="dropdown-toggle" href="#">Frameless Templates</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Frameless Templates</a></li>
                  
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">Discussion</a></li>
            </ul>
          </div>
        </div>
        <div class="col-auto col-lg-2 d-flex justify-content-end">
          <ul class="social-icons">
            <li class="social-icons-twitter"><a data-bs-toggle="tooltip" href="https://twitter.com/#" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
            <li class="social-icons-facebook"><a data-bs-toggle="tooltip" href="http://www.facebook.com/#" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a></li>
            <li class="social-icons-instagram"><a data-bs-toggle="tooltip" href="https://www.instagram.com/#" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a></li>
            <li class="social-icons-dribbble"><a data-bs-toggle="tooltip" href="http://www.dribbble.com/#" target="_blank" title="Dribbble"><i class="fab fa-dribbble"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
  
      <slot name="header"></slot>
      <slot name="sidebar"></slot>
      <slot></slot>
    
    <slot></slot>
  </main>
  <footer><small>© 2025</small></footer>


</body>